<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectmoviles.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.UHistorialEntreActivity"></activity>
        <activity android:name=".User.UAgendActivity" />
        <activity android:name=".admin.AgendaActivity" />
        <activity android:name=".admin.AgregarHorarioActivity" />
        <activity android:name=".admin.HorariosActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".user.UAgenAgregarActivity" />
        <activity android:name=".user.UHistorialActivity" />
        <activity android:name=".User.UsuarioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".admin.HomeCoachActivity" />
    </application>

</manifest>