<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectmoviles.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
            <intent-filter>
        <activity android:name=".RestablecerContraseniaActivity"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistraseActivity" />
        <activity android:name=".User.UsuarioActivity" />
        <activity android:name=".User.MembresiaAnualActivity" />
        <activity android:name=".User.MembresiaSemestralActivity" />
        <activity android:name=".User.MembresiaMensualActivity" />
        <activity android:name=".User.MembresiaDiariaActivity" />
        <activity android:name=".User.MembresiaUsuarioActivity" />
        <activity android:name=".User.HistorialUsuarioActivity" />
        <activity android:name=".User.UsuarioAgregarAgendaActivity" />
        <activity android:name=".User.AgendaUsuarioActivity" />
        <activity android:name=".admin.AgendaActivity" />
        <activity android:name=".admin.AgregarHorarioActivity" />
        <activity android:name=".admin.HorariosActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".User.UHistorialEntreActivity" />
        <activity android:name=".LoginActivity"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>